body {
    font-family: 'Lato', sans-serif;
}

h1 {
    background-color: #8bc34a;
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cancion {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 250px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.titulo-cancion {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px;
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0; 
    transform: translateY(-250%); 
    width: 85%;
    text-align: center; 
    color: green;
    font-size: 24px; 
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 10px; 
}

.imagen-cancion {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boton-play-pause {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.boton-play-pause:hover {
    background-color: #45a049;
}

.artista {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.nombre-artista {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.pie-de-pagina {
    text-align: center;
    font-weight: bold;
    border-top: 2px solid black;
}

p {
    text-align: center;
    color: #8bc34a;
    background-color: white;
}
